@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground: #fff;
  --primary: #5EA4BF;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
    --primary: #5EA4BF;
    
  }
}

body {
  color: var(--foreground);
  background: var(--primary);
  font-family: Arial, Helvetica, sans-serif;
}

.fade-out {
  opacity: 1;
  transition: opacity 1s ease-out;
}

.fade-out-active {
  opacity: 0;
}
